python/venv/
matlab/test_data/
python/.idea/
matlab/test_result/
python/us_augmentation/__pycache__/
matlab/monogenic_signal_matlab-master/
.idea/
python/models_training/datasets/__pycache__/BoneSegmentation.cpython-37.pyc
python/models_training/datasets/__pycache__/
python/models_training/models/__pycache__/
python/models_training/us_augmentation/__pycache__/
python/models_training/utils/__pycache__/
python/models_training/venv/
python/results_evaluation/utils/__pycache__/
python/remote_debugging/script.sh
python/models_training/.polyaxon/.polyaxongroup
python/models_training/.polyaxon/.polyaxonproject
python/models_training/datasets/bones/
python/models_training/datasets/facades/
python/models_training/datasets/manual_seg/
python/models_training/datasets/test_CT_labels/100_0_0.png
python/models_training/datasets/test_CT_labels/
python/models_training/tests/test_data/
pytorch-CycleGAN-and-pix2pix-master/
*.pyc
